html {
  box-sizing: border-box;
  min-width: 400px;
  color: #fff;
  background-color: #dbd6cf;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border: 3px solid #595652;
  margin: 0;
}

h1 {
  font-family: "Bevan", serif;
  margin: auto;
}

ul {
  padding: 0;
  text-align: center;
  line-height: 1.5;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 1.5em;
}

ul li a {
  font-family: "Arial", sans-serif;
  padding: .75em;
  background-color: #713837;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}

ul li a:hover {
  background-color: #f33;
}
